<div class="footer-container">
  <div class="contents">
    <div class="title">
      Let´s start right Now!
    </div>
    <div class="sub-title">
      작업 준비 완료됐습니다. 편하실 때 연락 주세요!
    </div>

    <div class="address">
      <a href="#" class="email">
        <i class="fa fa-envelope"></i>
        <span>leeduyoung20@naver.com</span>
      </a>
      <a href="#" class="phone">
        <i class="fa fa-mobile"></i>
        <span>010 - 9100 - 1476</span>
      </a>
    </div>
  </div>

  <div class="bottom">

  </div>
</div>