<!-- 내용은. 간단 ui 또는 소스, 오픈소스라면 깃헙 주소, 사용 스택, -->

<div class="project-container">
  <section class="project-info top-img">
    <div class="inner">
      <h4 class="sub-title">B2B 기반 헬스 O2O 서비스</h4>
      <h2 class="title">REFRESHCLUB</h2>
      <div class="top">
        <p>ROLE<span>Hybrid App Development</span></p>
        <p>Technical Sheet<span>Hybrid App Development</span></p>
      </div>
      <div class="center">
        <a href="http://www.naver.com" target="_blank"><span>VIEW CODE</span></a>
      </div>
      <div class="bottom"></div>
    </div>
  </section>  
  <div class="contents"></div>
</div>

<!-- 
<div class="project-container">

  <div class="project-image-container">
    <img class="item" src="assets/img/home_phone_1.png" alt="phone1">
  </div>

  <div class="project-description">
    <h3>
      모바일로 더 손쉬운
      <br> 계좌개설, 간편한 이체
    </h3>
    <p>
      공인인증서, OTP 없이 계좌 개설이 간편합니다.
      <br> 여러 건의 이체도 몇 번의 터치로 손쉽게 보낼 수 있습니다.
    </p>
  </div>

</div>

<div class="position-container">

  <div class="left-container">
    <h3>
      역할
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium ipsum sunt reiciendis tempore velit, officiis
      doloremque debitis, quo, omnis illo laboriosam pariatur? Ullam illum unde enim harum laudantium nisi quam neque molestias
      autem pariatur error odit similique, quaerat est maxime mollitia ducimus. Ut sed dolorum doloremque repellat dolorem
      reprehenderit consectetur exercitationem explicabo earum iste dolores neque natus eligendi aut quasi odit asperiores
      blanditiis cum nulla molestiae, laudantium officiis. Non quos repellat ex nostrum. Minima ipsa et veniam repudiandae
      at modi, molestiae deserunt nulla aperiam quaerat natus, inventore nihil. Libero et in repellendus non rerum maxime
      accusantium voluptate dolor temporibus optio possimus culpa soluta labore modi, alias ipsa porro molestias consequuntur
      maiores voluptatem pariatur ipsum? Soluta sequi voluptatibus veritatis magni recusandae laudantium eaque amet nesciunt
      libero numquam natus praesentium sunt, reiciendis alias commodi ipsam rerum necessitatibus obcaecati dolorem dolores
      cupiditate? Sunt magni inventore quia! Nulla ab saepe expedita. Tempora voluptatibus maiores quibusdam impedit assumenda
      quos esse voluptas libero necessitatibus neque quam quia voluptates incidunt, id quaerat accusamus, laborum fuga veniam
      doloremque blanditiis ducimus mollitia eos? Impedit consectetur nostrum ratione, saepe quas velit magni nisi, odio
      vitae placeat expedita accusamus reprehenderit? Accusamus, fugiat veniam maiores laborum repellendus natus magni error
      laudantium nihil ab ipsum autem ipsa, et ducimus suscipit optio nobis amet. Doloremque deserunt, provident, non harum
      vel quia ipsa error a ea mollitia asperiores dolorum veniam quasi? Nostrum, exercitationem libero consectetur maxime,
      nemo magnam alias veritatis similique aspernatur quas itaque cumque inventore nesciunt, dolore dolores praesentium
      sint eius quae magni error? Ad consectetur dicta eaque aut provident sit, porro est esse placeat quibusdam laboriosam
      saepe animi fugit, nulla ea qui vitae sint laudantium alias incidunt ipsam cum itaque nemo! Temporibus, excepturi corporis
      minima illum incidunt quasi, deserunt velit maiores nesciunt, at enim nam optio aliquid quaerat reiciendis reprehenderit
      quis beatae?
    </p>
  </div>
  <div class="right-container">
    <h3>
      사용 기술 & 플러그인
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias laborum, delectus adipisci rem nisi ea possimus id dolore
      accusantium error veritatis similique quaerat. Atque voluptatem iste nihil, laboriosam doloremque voluptatibus ipsa
      harum quod esse eum minima odio quisquam voluptates repellendus reiciendis optio aperiam voluptate dicta quasi assumenda
      animi provident! Quidem amet facilis, perspiciatis maxime labore error at debitis eos doloremque. Provident, animi,
      cumque vel deleniti voluptatem vero tempora unde voluptate cum quisquam hic, quibusdam dolore quidem sed necessitatibus
      est recusandae aut et assumenda laudantium? Tenetur laborum quibusdam vero, quo sequi obcaecati ipsam. Repellat sed
      ea dolore, molestiae nesciunt, earum magnam aliquid atque est quo quibusdam odit ipsam ad quasi dicta totam incidunt
      cupiditate molestias iure aut unde, minus eos. Voluptatem deleniti dicta error quidem unde dolorem temporibus magni
      sint, incidunt quas. Odio provident nobis fuga quia voluptas dolore dignissimos necessitatibus incidunt numquam, consectetur
      quibusdam. Quis, quas sunt. Voluptatum quod molestias velit cupiditate mollitia. Esse molestiae sequi, non, rerum sed
      officia tempora minus, quae sunt dolore dolor recusandae numquam veniam magnam! Sit blanditiis suscipit obcaecati eaque!
      Ipsam animi ad nostrum, suscipit ex eius dignissimos, cupiditate earum, temporibus reiciendis maxime quidem expedita.
      Hic sit corrupti a numquam magni eos debitis quisquam! Aperiam!
    </p>
  </div>

</div>

<div class="image-slider-container">

</div> -->