@import '../../styles.scss';

.project-container {
    overflow: hidden;

    section.project-info.top-img {
        height: 720px;
        padding: 110px 140px;
        background-image: url("/assets/img/dummy/hero_work_01.png");
        background-size: cover;
        color: white;

        .inner {
            .sub-title {
                font-size: 16px;
                color: rgba(255,255,255,0.4);
            }
            .title {
                font-size: 78px;
                margin: 16px 0;
            }
            .top {
                margin: 64px 0;
                font-size: 16px;
                color: rgba(255,255,255,0.6);
                letter-spacing: 0.05rem;
                p {
                    text-transform: uppercase;
                }
                span {
                    text-transform: none;
                    margin-left: 16px;
                    color: white;
                    font-size: 18px;
                }
            }
            .center {
                margin-top: 64px;
                a {
                    padding: 12px 24px;;
                    width: 150px;
                    height: 50px;
                    border: 1px solid white;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .contents {
        // height: 720px;
        padding: 110px 140px;
        background-color: #f5f5f5;

        .sub-title {
            font-size: 32px;
            color: $primaryColor;
        }
        .screenshot {
            img {
                width: 300px;
                height: auto;
                margin: 16px 8px;
            }
        }
    }
}