<div class="project-container">
  <section class="project-info top-img">
    <div class="inner">
      <h4 class="sub-title">B2B 기반 헬스 O2O 서비스</h4>
      <h2 class="title">REFRESHCLUB</h2>
      <hr>
      <div class="top">
        <p>company<span>에이치앤비라이프</span></p>
        <p>introduction<span>기업 임직원을 대상으로 다양한 스포츠센터와 골프시설들을 하나의 멤버십으로 언제 어디서나 저렴하게 이용할 수 있도록 도와주는 피트니스 O2O 서비스</span></p>
        <p>GOAL<span>실물 멤버십 카드로 운영중인 서비스를 모바일 카드로 변경하고, 체크인, 시설 검색, 결제 등 다양한 서비스 및 기능 추가</span></p>
        <p>ROLE<span>Hybrid App Development</span></p>
        <p>Technical Sheet<span>Html, Css, Ionic Framework v1, Angularjs, Cordova, Onesignal, Google Analytics, Sentry, Git</span></p>
      </div>
      <div class="center">
        <a href="https://refreshclub.co.kr" target="_blank"><span>홈페이지</span></a>
      </div>
      <div class="bottom"></div>
    </div>
  </section>

  <div class="contents">
    <h4 class="sub-title">APP 화면</h4>
    <div class="screenshot">
      <img src="../../assets/img/rc/1.PNG" alt="splash">
      <img src="../../assets/img/rc/2.PNG" alt="checkin">
      <img src="../../assets/img/rc/3.PNG" alt="checkin-history">
      <img src="../../assets/img/rc/4.PNG" alt="home">
      <img src="../../assets/img/rc/5.PNG" alt="search">
      <img src="../../assets/img/rc/6.PNG" alt="map">
      <img src="../../assets/img/rc/7.PNG" alt="club">
      <img src="../../assets/img/rc/8.PNG" alt="promotion">
      <img src="../../assets/img/rc/9.PNG" alt="membership">
    </div>
  </div>
  <app-footer></app-footer>
</div>


<!-- 2017. 3 월 모바일 앱 개발 및 관리 매니저로 입사
2017. 6 월 리프레쉬클럽 2.0 오픈(하이브리드앱 android/ios)
>> html, css, ionic framework v1, angularjs, cordova, onesignal, google analytics,
sentry
2018. 1 월 사내 출퇴근 관리 앱 리프레쉬오피스 개발
>> html, css, ionic framework v3, angular5, cordova
2018. 2 월 리프레쉬필드 런칭(하이브리드앱 android/ios)
>> html, css, ionic framework v3, angular5, cordova, onesignal, google analytics,
sentry -->