/* You can add global styles to this file, and also import other style files */

/** Color Configuration **/
$primaryColor: #3e0694;
$secondColor: #8690CB;
$primaryFontColor: #3f3f3f;

/** 텍스트 블록 드래그 색상 설정 **/
::selection {
    background: $secondColor;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: $secondColor;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: $secondColor;
    color: #FFF;
    text-shadow: none;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
    opacity: 0 !important;
    display: none !important;
}
