@import '../../styles.scss';

.home-container {
    min-height: 700px;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-container {
    position: relative;
    padding: 80px;
    background-color: #f5f5f5;

    .history-image-container {
        margin-top: 60px;
        display: flex;
        .horizontal-half {
            flex-basis: 50%;
            padding: 0.5em;
        }
        .history-item {
            position: relative;
            text-align: center;
            .history-image {
                margin-bottom: 0.5em;
            }
        }
    }
}

.contents {
    text-align: center;
    .title {
        font-size: 90px;
        color: $primaryColor;
        font-weight: 700;
    }
    .sub-title {
        margin-top: 6px;
        font-size: 24px;
        color: #aaa;
        font-weight: 300;
    }
    .description {
        font-size: 20px;
        margin-top: 60px;
        letter-spacing: 0.025rem;
        line-height: 1.6em;
    }
}
