<div class="home-container">
  <div class="contents">
    <div class="title">
      CIAO!
    </div>
    <div class="sub-title">
      Software Developer 이두영입니다.
    </div>
    <div class="description">
      안녕하세요, 저의 웹사이트에 방문해 주셔서 감사합니다.
      <br> 창업에 관심이 많고 (이미 한번 망했..)
      <br> 프론트엔드, 백엔드 모두를 사랑하는 개발자 입니다.
      <br> 아이오닉 프레임워크를 사용하여 하이브리드 앱을 다수 서비스 하였습니다.
      <br> 대표적으로 리프레쉬클럽, 리프레쉬필드, 두개더가 있습니다.
      <br>
      <br> 보안솔루션 회사에서 백엔드를 개발한 경험이 있습니다.
      <br> 관심 있으시다면 언제든 연락 주세요 :)
    </div>
  </div>
</div>

<!-- 타임라인 -->
<!-- 타임라인 플러그인 사용. 마우스 hover시 내용 나오도록 이쁘게 -->
<app-timeline></app-timeline>

<div class="history-container">
  <div class="contents">
    <div class="title">
      PROJECT
    </div>
    <div class="sub-title">
      FEATURED WORK
    </div>
  </div>

  <div class="history-image-container">
    <div class="horizontal-half">
      <div class="history-item" routerLink="portfolio/1">
        <figure class="effect-bubba">
          <img class="history-image" src="../assets/img/dummy/rc.jpg" alt="리프레쉬클럽" />
          <figcaption>
            <h2>Refresh
              <span>Club</span>
            </h2>
            <p>
              B2B 기반 헬스 O2O 서비스.
            </p>
          </figcaption>
        </figure>
      </div>

      <div class="history-item" routerLink="portfolio/2">
        <figure class="effect-bubba">
          <img class="history-image" src="../assets/img/dummy/rf.jpg" alt="리프레쉬필드" />
          <figcaption>
            <h2>Refresh
              <span>Field</span>
            </h2>
            <p>
              B2C 기반 골프 O2O 서비스.
            </p>
          </figcaption>
        </figure>
      </div>

      <div class="history-item" routerLink="portfolio/3">
        <figure class="effect-bubba">
          <img class="history-image" src="../assets/img/dummy/openbase.jpg" alt="오픈베이스" />
          <figcaption>
            <h2>open
              <span>BASE</span>
            </h2>
            <p>
              보안제품을 연계한 악성파일 분석 시스템 구축.
            </p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="horizontal-half">
      <div class="history-item" routerLink="portfolio/4">
        <figure class="effect-bubba">
          <img class="history-image" src="../assets/img/dummy/dogether.png" alt="두개더" />
          <figcaption>
            <h2>dogether
              <span>두개더</span>
            </h2>
            <p>
              SNS 기반 퍼스널트레이닝 매칭 O2O 서비스.
            </p>
          </figcaption>
        </figure>
      </div>

      <div class="history-item" routerLink="portfolio/5">
        <figure class="effect-bubba">
          <img class="history-image" src="../assets/img/dummy/someday.jpg" alt="썸데이" />
          <figcaption>
            <h2>some
              <span>DAY</span>
            </h2>
            <p>
              용기가 부족해 마음을 표현 못하는 모든 남녀를 위한 앱.
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

</div>