<div class="home-container">
  <div class="home-contents">
    <div class="title">
      Hello.
    </div>
    <div class="sub-title">
      THIS IS DY.LEE
    </div>
    <div class="description">
      안녕하세요, 'N' 입니다. 사심 가득한 포트폴리오 사이트에 방문해 주셔서 감사합니다.
      <br> 저는 섬세하게 웹을 디자인하며, 능숙하게 웹페이지를 구현할 수 있습니다.
      <br> 웹표준과 접근성을 기반으로, 많은 사용자가 만족할 수 있는 UI . UX를 목표로 합니다.
      <br>
      <br> 맡은 일은 항상 열정과 전문성(그리고 사랑)을 담아 작업하고 있습니다.
      <br> 제 작업물이 마음에 드신다면 언제든 연락 주세요 ;)
      <br>
    </div>
  </div>
</div>

<div class="history-container">
  <div class="horizontal-half">
    <div class="history-item">
      <figure class="effect-bubba">
        <img class="history-image" src="../assets/img/dummy/sample01.jpg" alt="img02" />
        <figcaption>
          <h2>Fresh
            <span>Bubba</span>
          </h2>
          <p>Bubba likes to appear out of thin air.</p>
        </figcaption>
      </figure>
    </div>

    <div class="history-item">
      <figure>
        <img class="history-image" src="../assets/img/dummy/sample01.jpg" alt="뜨개질 - 고양이 두마리" />
        <figcaption>뜨개질로 만든 핸드메이드 고양이</figcaption>
      </figure>
    </div>

    <div class="history-item">
      <figure>
        <img class="history-image" src="../assets/img/dummy/sample05.jpg" alt="뜨개질 - 고양이 두마리" />
        <figcaption>뜨개질로 만든 핸드메이드 고양이</figcaption>
      </figure>
    </div>

    <div class="history-item">
      <figure>
        <img class="history-image" src="../assets/img/dummy/sample06.jpg" alt="뜨개질 - 고양이 두마리" />
        <figcaption>뜨개질로 만든 핸드메이드 고양이</figcaption>
      </figure>
    </div>
  </div>
  <div class="horizontal-half">
    <div class="history-item">
      <figure>
        <img class="history-image" src="../assets/img/dummy/sample04.jpg" alt="뜨개질 - 고양이 두마리" />
        <figcaption>뜨개질로 만든 핸드메이드 고양이</figcaption>
      </figure>
    </div>

    <div class="history-item">
      <figure>
        <img class="history-image" src="../assets/img/dummy/sample03.jpg" alt="뜨개질 - 고양이 두마리" />
        <figcaption>뜨개질로 만든 핸드메이드 고양이</figcaption>
      </figure>
    </div>
  </div>
</div>